.petHealth {


  .selectInd {
    background-color: #fff !important;
    width: 25px !important;
  }

  .indicatorDots {
    >view:last-child {
      >view {
        margin: 0 10px;
        width: 15px;
        height: 15px;
        background-color: #c5c5c5;
        transition: all .3s;
      }
    }
  }
}

.shadow {
  box-shadow: 0px 4px 4px 2px rgba(181, 181, 181, 0.25), 5px 0px 5px 2px rgba(181, 181, 181, 0.25);
  border-radius: 16px;
  border: 1px solid #E4E4E4;
}

.divide {
  width: 100%;
  border-bottom: 1px dashed #3B3A35;
}
