.pet-detail-page {
  .head {
    .a-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .pet-tab-item {
    position: relative;
    &.active {
      color: #96CC39;
      &::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 5px;
        left: 50%;
        bottom: -14px;
        margin-left: -40px;
        background-color: #96CC39;
      }
    }
  }

  .add-pet-btn{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
  }
}
