@font-face {
  font-family: "rcciconfont"; /* Project id 3579405 */
  src: url('iconfont.woff2?t=1662106702526') format('woff2'),
       url('iconfont.woff?t=1662106702526') format('woff'),
       url('iconfont.ttf?t=1662106702526') format('truetype'),
       url('iconfont.svg?t=1662106702526#rcciconfont') format('svg');
}

.rcciconfont {
  font-family: "rcciconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rccicon-cuowu:before {
  content: "\e652";
}

.rccicon-xuanzhong:before {
  content: "\e650";
}

.rccicon-danxuan_weixuanzhong:before {
  content: "\e651";
}

.rccicon-a-11:before {
  content: "\e64b";
}

.rccicon-dizhi:before {
  content: "\e64d";
}

.rccicon-copy:before {
  content: "\e64e";
}

.rccicon-zhifubao:before {
  content: "\e64f";
}

.rccicon-pingtai:before {
  content: "\e648";
}

.rccicon-chongwu2:before {
  content: "\e64a";
}

.rccicon-zhanghao:before {
  content: "\e64c";
}

.rccicon-jihua:before {
  content: "\e649";
}

.rccicon-fahuoyizhan:before {
  content: "\e645";
}

.rccicon-tuijianshangpin:before {
  content: "\e646";
}

.rccicon-down:before {
  content: "\e619";
}

.rccicon-ilist:before {
  content: "\e615";
}

.rccicon-ifoot:before {
  content: "\e616";
}

.rccicon-idelete:before {
  content: "\e617";
}

.rccicon-iedit:before {
  content: "\e618";
}

.rccicon-cam:before {
  content: "\e614";
}

.rccicon-rcheck:before {
  content: "\e613";
}

.rccicon-male:before {
  content: "\e60e";
}

.rccicon-save:before {
  content: "\e60f";
}

.rccicon-footprint:before {
  content: "\e610";
}

.rccicon-timer:before {
  content: "\e611";
}

.rccicon-female:before {
  content: "\e612";
}

.rccicon-location:before {
  content: "\e60d";
}

.rccicon-check:before {
  content: "\e60a";
}

.rccicon-ship:before {
  content: "\e60b";
}

.rccicon-ontime:before {
  content: "\e60c";
}

.rccicon-add:before {
  content: "\e601";
}

.rccicon-right:before {
  content: "\e608";
}

.rccicon-edit:before {
  content: "\e609";
}

.rccicon-picture:before {
  content: "\e600";
}

.rccicon-camera:before {
  content: "\e606";
}

.rccicon-close:before {
  content: "\e607";
}

.rccicon-cat1:before {
  content: "\e605";
}

.rccicon-dog1:before {
  content: "\e602";
}

.rccicon-dog2:before {
  content: "\e603";
}

.rccicon-success:before {
  content: "\e604";
}

.rccicon-freshweixuanzhong:before {
  content: "\e62f";
}

.rccicon-freshxuanzhong:before {
  content: "\e630";
}

.rccicon-gerenzhongxinxuanzhong:before {
  content: "\e632";
}

.rccicon-a-bianzu16:before {
  content: "\e633";
}

