.orderCard {
  background: url(https://dtcdata.oss-cn-shanghai.aliyuncs.com/asset/image/Group%201516%201.png) no-repeat center;
  background-size: 105% 106%;
  border-radius: 30px;

  .moreHover:hover {
    .more {
      display: flex;
    }
  }

  .more {
    display: none;
    background: url(https://dtcdata.oss-cn-shanghai.aliyuncs.com/asset/image/Vector%20%283%29.png) no-repeat center;
    background-size: 110% 108%;
    transition: all 0.5s;
  }
}
