.Pets {
  border-radius: 16px;
  background: url('https://dtc-platform.oss-cn-shanghai.aliyuncs.com/static/pet%20background.png') no-repeat center;
  background-size: 100% 100%;

  .PetTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
  }

  .splitline {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #96CC39;
  }

  .PetInfo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #999999;

    .PetInfoOne {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
    }

    .petNameColor {
      color: #D49D28;
    }
  }
}
