.AddressItem {
  box-shadow: 0 0 20px -4px rgba(191, 191, 191, 0.1);

  .at-checkbox {
    &::after {
      width: 0px !important;
      height: 0px !important;
    }

    &::before {
      width: 0px !important;
      height: 0px !important;
    }

    .at-icon-check::before {
      content: '✓';
    }
  }

  .at-checkbox__option {
    padding: 0;
  }

  .at-checkbox__option-cnt {
    align-items: center;
  }

  .at-checkbox__icon-cnt {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 0.125rem;
    border-color: #C7C7C7;
  }

  .at-checkbox__title {
    font-size: 26px;
    line-height: 28px;
    color: #A5A5A5;
  }
}
