.PetItemContainer {
  margin: 0 5%;
}

.PetItem {
  margin-top: 25px;
  border-radius: 4px;

  .a-image {
    width: 100%;
    height: 100%;
  }

  .at-swipe-action__option {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    &:nth-child(2) {
      border-radius: 0 4px 4px 0;

      &::after {
        background: url('https://dtcdata.oss-cn-shanghai.aliyuncs.com/asset/image/pet-delete.png') no-repeat center;
        margin-top: -10px;
        background-size: .6rem .6rem;
      }
    }

    &:nth-child(1) {
      &::after {
        background: url('https://dtcdata.oss-cn-shanghai.aliyuncs.com/asset/image/pet-edit.png') no-repeat center;
        margin-top: -10px;
        background-size: .6rem .6rem;
      }
    }

    &::after {
      content: '';
      width: 60px;
      height: 60px;
    }

    >text {
      height: 20%;
      margin-top: .1rem;
    }
  }
}
