.a-page {
  background: linear-gradient(179.43deg, #C3EC7B 12.71%, rgba(195, 236, 123, 0) 50.54%, rgba(249, 249, 249, 1) 100%);
}

.OrderDetails {
  .block-boxshadow {
    box-shadow: 0px 0px 12px 10px rgba(191, 191, 191, 0.1);
  }

  .block-bordert {
    border-top: 1px solid #E7E7E7;
  }

  .body {
    >view {
      background-color: #fff;
    }
  }

  .at-button {
    border: 1px solid #C3C3C3 !important;
  }

  .pop-modal .at-button {
    border: none !important;
  }

  .header {
    text {
      &:first-child {
        font-size: 32px;
        font-weight: 700;
      }

      &:last-child {
        font-size: 26px;
        color: #A6A6A6;
      }
    }
  }

  .headerImage {
    width: 60px;
    height: 60px;
  }

  .timeText {
    .at-countdown__time {
      font-weight: normal !important;
      font-size: 28px !important;
    }
  }

  .express {
    border-bottom: 1px solid #E7E7E7;
    color: #949494;
  }

  .expressLine {
    font-size: 20px;

    .dian {
      width: 15px;
      height: 15px;
      background-color: #E1E1E1;
    }

    .title {
      >text:first-child {
        font-size: 24px;
      }
    }

    .selectLine {

      >view {
        &:first-child {
          >view {
            width: 1px;
            background-color: #949494;
          }
        }
      }
    }

    .line {
      margin: 0.03rem 0;

      >view {
        &:first-child {
          width: 15px;
        }
      }
    }
  }

  .timeLine {
    font-size: 24px;
    color: #A6A6A6;

    .lineSpot {
      width: 32px;
      height: 32px;
      color: #979797;
      font-size: 26px;
      text-align: center;
      line-height: 32px;
      border: 1px solid #D9D9D9;

      &.selectBackground {
        color: #ffffff;
        border: none;
      }
    }

    .HorizontalLine {
      height: 2px;
      background-color: #D9D9D9;
    }
  }

  .orderDetailsIcon {
    width: 0.45rem;
    height: 0.4rem;
    margin-right: 15px;
  }

  .receiving {
    .receivingBorder {
      height: 4px;
      background: url(https://dtc-platform.oss-cn-shanghai.aliyuncs.com/static/address%20bar.png) no-repeat center;
      background-size: 100% 100%;
    }

    .receivingUser {
      font-weight: 700;
      font-size: 26px;
    }

    .receivingAddress {
      font-size: 26px;
      color: #333;
    }
  }

  .orderAtCard {
    .orderAtCardTitle {
      font-size: 28px;
      border-bottom: 1px solid #E7E7E7;
    }

    .orderAtCardBody {
      height: 170px;
      font-size: 24px;

      .orderAtCardImage {
        width: 170px;
        height: 170px;
        background-color: #f1f1f1;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  .item-content__info-title {
    font-size: 28px;
    color: #A4A4A4;
  }

  .item-extra__info {
    padding: 0;
    font-size: 26px;
    color: #000;
  }

  .orderInfo {
    font-size: 28px;

    >view {
      margin-top: 0.32rem;

      &:first-child {
        margin: 0;
      }

      >text {
        &:first-child {
          color: #666666;
        }
      }
    }
  }

  .orderFooter {
    font-size: 28px;

    .footerPrice {
      font-size: 34px;
      color: #96CC39;
    }

    .at-button {
      font-size: 28px;
      height: 75px;
      line-height: 75px;
    }
  }

  .at-list {
    .at-list__item {
      &::after {
        border-bottom: 5px solid #F3F3F3 !important;
        right: 0.24rem;
      }
    }
  }

  .selectBackground {
    background-color: #96CC39 !important;
  }

  .at-float-layout {
    .at-float-layout__container {
      border-radius: .4rem .4rem 0 0;
      background-color: #efefef;
    }

    .layout-header {
      border-radius: .4rem .4rem 0 0;
      background-color: #efefef;

      .layout-header__title {
        text-align: center;
        margin-left: .6rem;
      }
    }
  }

  .at-countdown__time-box {
    font-family: initial;
  }
}
