.pet-edit-page {
  .pet-edit-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .at-progress__outer-inner {
    background-color: #E4FEB7;
    border-radius: 0;
  }
  .at-progress__outer-inner-background {
    border-radius: 0;
  }

  .page-title {
    display: block;
  }

  .rcc-input {
    box-sizing: border-box;
  }
}
