.Account {
  .at-avatar .a-image {
    width: 100%;
    height: 100%;
  }
  .UserName {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
  }

  .UserNameIcon {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
  }


  .loginHerder {
    height: 234px;
    background: linear-gradient(141.73deg, #D9BA91 -0.83%, #B28458 118.38%);
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
  }

  .myOrderLists {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  }

  .orderAtList {
    .at-list__item {
      font-family: 'Abel';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 33px;
    }

    .item-extra__info {
      font-family: 'Abel';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 33px;
    }
  }

  .at-list {
    border-radius: 16px;

    .at-list__item {
      font-family: 'Abel';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
    }
  }
}
