.Account {
  .loginHerder {
    height: 234px;
    background: linear-gradient(141.73deg, #D9BA91 -0.83%, #B28458 118.38%);
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
  }

  .at-list {
    border-radius: 16px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }
}
